.SideStatus {
	font-family: "erth";
	font-size: 8px;
	color: var(--fgc);
	text-align: left;
	border-left: 1px solid var(--fgc);
	border-bottom: 1px solid var(--fgc);
	padding-left: 7px;
	padding-top: 3px;
	margin-top: 2px;
	width: 70%;
	position: relative; /* makes the psuedo-element position absolute work lol */
}

.SideStatus .sid {
	padding: 2px 0;
}

.SideStatus div {
	padding: 0;
	margin-bottom: 3px;
}

.SideStatus .stb,
.SideStatus .sid {
	position: relative;
}

.SideStatus .stb::before, .SideStatus .sid::before {
	content: "";
    height: 1px;
    background: var(--fgc);
    width: 5px;
    position: absolute;
    left: -7px;
    top: 25%;
}

.SideStatus .sid::before { /* idk why its different */
	top: 40%;
}

.SideStatus hr {
	border-style: solid;
	border-bottom: none;
	margin-bottom: 8px;
	margin-top: 3px;
	margin-left: -5px;
}

.SideStatus::after {
	content: url('~/assets/ui/single_corner_left.png');
	position: absolute;
	left: -1px;
	bottom: -3px;
	z-index: 2;
	border-bottom: 1px var(--outlinec) solid;
}