.ChoiceContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: normal;
    align-content: normal;
    gap: 3px;
    min-width: 90px;
  }

  .ChoiceContainer a {
    border: 1px solid var(--fgc);
    padding: 3px;
    color: var(--fgc);
    text-align: center;
    position: relative;
    cursor: pointer;
  }

  .ChoiceContainer a:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: 0;
    left: 0;
    color: black;
    background: var(--fgc);
  }

  
  
  .ChoiceContainer .continueUnavailable { /*Targeting a class w/ this*/
    --fgc: grey;
  }

