.Textbox {
    min-width: 100%;
    border: solid 1px var(--fgc);
    position: relative;
    background: var(--bgc);
    padding: 5px;
}

.Textbox::after {
    content: url('~/assets/ui/single_corner_left.png');
    position: absolute;
    left: -1px;
    bottom: -7px;
    z-index: 2;
    border-bottom: 1px var(--outlinec) solid;
}

