.rune {
	cursor: pointer;
}

.clickedRune {
	cursor: default;
	stroke-width: 4;
}

.finished circle {
	stroke: #111;
}

<<<<<<< HEAD
.finished text {
	fill: #111;
}

=======
>>>>>>> a3cb8996777379987618fab65781cdb4de554031
.rune + text, .clickedRune + text {
	pointer-events: none;
	font-size: 2rem;
}

.rune:hover {
	stroke-dasharray: 100;
	stroke-dashoffset: 20;
	stroke-width: 3;
	animation: spin 1s linear infinite;
	transform-box: border-box;
    transform-origin: center;
}

@keyframes spin {
	0% {
		rotate: 0deg;
	}

	100% {
		rotate: 360deg;
	}
}