.tooltip {
	position: fixed;
	top: 0;
	left: 0;
	pointer-events: none;
	background-color: var(--bgc);
	color: var(--fgc);
	padding: 5px;
	border: double 3px var(--fgc);
	max-width: 22ch;
	hyphens: auto;
	outline: 4px solid var(--outlinec);
	visibility: hidden; /* default, show triggered by code */
	z-index: 9999999; /* lmao */
}


/* this is fucking evil and bad, using CSS to add delay for tooltip to appear :^) */
.shownTooltip {
	visibility: visible;
	opacity: 0;
	animation: delayedVis 0.5s forwards;
	animation-delay: var(--delay);
}
@keyframes delayedVis {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


/* just for the sigil example, youll wanna standardize this I imagine */
.tooltip h3 {
	letter-spacing: 0.25ch;
	color: var(--empc);
}


/* for the wrapper */
.hasTooltip {
	text-decoration:underline;
	text-decoration-style: dotted;
	cursor:help;
}