@font-face {
	font-family: 'teeny';
	src: url(../assets/fonts/TeenyTinyPixls-o2zo.ttf);
}

@font-face {
	font-family: 'enoch';
	src: url(../assets/fonts/NVEnochian.otf);
}

.BattleCon {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 5px;
	width: max-content;
	position: absolute;
	left: 50%;
	top: 50%;
	/* Nefarious snap to pixel grid method */
	transform: translate(calc(-50%), calc(-50%));



	--leftwidth: 414px;
}

.labelbar {
	grid-column: span 2;
	color: white;
	text-align: left;
	font-family: "enoch";
	font-size: 8px;
	margin-bottom: -5px;
	border-left: solid 1px white;
	padding: 1px;
	padding-bottom: 0px;
	border-top: 1px solid white;
	width: fit-content;
	height: 9px;
	user-select: none;
}

.labelbar img {
	position: absolute;
    translate: -1px -2px;
}

.left {
	display: grid;
	grid-template-columns: auto;
	width: var(--leftwidth);
	border-bottom: none;
}

.placeHolderDeCon {
	border: 3px double white;
	border-bottom: none;
}

.left .placeHolderDeCon {
	height: 520px;
}


.bottomPanel {
	border-top: solid 1px white;
	height: 64px;
}

.bottomPanel .runeBuilder {
	position: relative;
	bottom: 56px;
}

.bottomPanel::before {
	content: url('../assets/ui/double_corner_left.png');
	position: absolute;
	bottom: -4px;
	left: 0;
}

.bottomPanel::after {
	content: url('../assets/ui/double_corner_right.png');
	position: absolute;
	bottom: -4px;
	left: calc(var(--leftwidth) - 9px);
}

.bottomPanel .sigilcon {
	height: 64px;
}