.rune {
	cursor: pointer;
}

.clickedRune {
	cursor: default;
	stroke-width: 4;
}

.finished circle {
	stroke: #000000;
	transition: stroke 0.5s ease-in;
}

.finished text {
	fill: #000000;
	transition: fill 0.5s ease-in;
}

.finished .rune {
	cursor: default;
}

.rune + text, .clickedRune + text {
	pointer-events: none;
	font-size: 2rem;
}

.rune:hover {
	/*stroke-dasharray: 100; */
	stroke-dashoffset: 20;
	stroke-width: 3;
	animation: spin 1s linear infinite, open 0.5s ease-in forwards;
	transform-box: border-box;
    transform-origin: center;
}

@keyframes spin {
	0% {
		rotate: 0deg;
	}

	100% {
		rotate: -360deg;
	}
}

@keyframes open {
	0% {
		stroke-dasharray: 180;
	}
	100% {
		stroke-dasharray: 100;
	}
}

.runeBuilder line {
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	animation: drawLine 0.5s ease-in forwards;
}

@keyframes drawLine {
	to {
		stroke-dashoffset: 0;
	}
	
}