@font-face {
	font-family: "term-font";
	src: url(../assets/fonts/Piksel-JAGa.ttf);
}

* {
	margin: 0;
	padding: 0;
}

.StatusTerm {
	background-color: black;
	border: solid white 1px;
	color: white;
	width: 295px;
	text-align: left;
	height: 165px;
}

.titlebar {
	width: 100%;
	height: 4px;
	border-bottom: solid white 1px;
}

.titlebar img {
	display: block;
}

.StatusOutput {
	padding: 4px;
}