.StatusTerm {
	background-color: var(--bgc);
	border: solid var(--fgc) 1px;
	color: var(--fgc);
	width: 295px;
	text-align: left;
	height: 165px;
	overflow: auto;

	/* for firefox 
	scrollbar-color: white black;
    scrollbar-width: thin;*/
}

.StatusTerm::-webkit-scrollbar {
    width: 2px;
    background-color: var(--bgc);
}

.StatusTerm::-webkit-scrollbar-thumb {
    background-color: var(--fgc);
	width: 2px;
}

.StatusTerm::-webkit-scrollbar-button {
    display: none; /* Hide the scrollbar buttons */
}

.titlebar {
	width: 100%;
	height: 4px;
	border-bottom: solid var(--fgc) 1px;
	position: sticky;
    top: 0;
    background: black;
}

.titlebar img {
	display: block;
}

.StatusOutput {
	padding: 4px;
}