@font-face {
	font-family: "term-font";
	src: url(../assets/fonts/Piksel-JAGa.ttf);
}

* {
	margin: 0;
	padding: 0;
}

.StatusTerm {
	background-color: black;
	border: solid white 1px;
	color: white;
	width: 295px;
	text-align: left;
	height: 165px;
	overflow: auto;

	/* for firefox 
	scrollbar-color: white black;
    scrollbar-width: thin;*/
}

.StatusTerm::-webkit-scrollbar {
    width: 2px;
    background-color: black;
}

.StatusTerm::-webkit-scrollbar-thumb {
    background-color: white;
	width: 2px;
}

.StatusTerm::-webkit-scrollbar-button {
    display: none; /* Hide the scrollbar buttons */
}

.titlebar {
	width: 100%;
	height: 4px;
	border-bottom: solid white 1px;
	position: sticky;
    top: 0;
    background: black;
}

.titlebar img {
	display: block;
}

.StatusOutput {
	padding: 4px;
}