.simple-window {
	pointer-events: all;
	position: fixed;
}

.simple-window .handle {
	user-select: none;
	background: url('~/assets/ui/titlebar_texture.png');
	height: 11px;
	border: solid 1px var(--fgc);
	border-bottom: none;
	display: flex;
}

.window-footer {
	display: flex;
	height: 8px;
}

.window-footer img {
	position: relative;
}

.handle span, .window-footer span {
	flex-grow: 1;
}

.handle img, .window-footer img {
	-webkit-user-drag: none;
	user-select: none;
}

.simple-window  .window-content {
	background-color: var(--bgc);
	width: fit-content;
	padding: 0;
	border: none;
}

.window-content img {
	max-width: 90%;
}